#mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}
input{
width: 100%;
}
.educationDiv{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.locationDate{
  text-align: right;
}
.educationDiv p{
  margin: 5px;
}
#resumeContainer{
  width: 50vw;
}
.forms{
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-width: 200px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.forms h3{
  margin: 0px;
  margin-bottom: 5px;
  padding: 10PX;
}
.formItem{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.formItem label{
  padding-right: 10px;
}

#dateInputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#dateInputs div{
  display: flex;
  flex-direction: column;
  padding: 10PX;
}
#dateInputs div label{
  padding: 5px;
  padding-left: 0px;
}
button{
  padding: 5px;
  border-radius: 5px;
  border: 1px black solid;
  background-color: rgb(201, 201, 201);
}
.deleteButton{
  width: 60%;
  align-self: center;
}

.educationForms, .workForms{
  border-bottom: 2px solid black;
  margin: 10px;
  padding: 10px;
}
.jobDescription{
  resize: vertical;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.skillForms, #addSkillForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skillForms *, #addSkillForm *{
  margin: 5px;
  width: 100%;

}
.skillForms input, #addSkillForm input{
  flex: 10;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.skillForms button, #addSkillForm button{
  flex: 1;
}
#skillsFormDiv{
  display: flex;
  flex-direction: column;
}
#addSkillForm{
  align-self: center;
  width: 90%;
}

#skillsList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0px;
  width: 100%;
}
#skillsList li{
  margin-left: 20px;

}
.inputSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 234, 234);
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
  min-width: 200px;
  padding: 10px;
  width: 100%;
}
.toggleButton{
  min-width: 200px;
  width: 100%;
  border: none;
  background-color: rgb(234, 234, 234);
  text-align: center;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: none;
}
#editContainer{
  align-self: center;
}

label{
  font-weight: bold;
}

.addBtn{
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

#resumeContainer{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px;
  margin-left: 80px;
  margin-right: 40px;
  padding: 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
  height:100%;
  min-width: 400px;
}

#resumeHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#resumeHeader *{
  margin: 0px;
}

#educationSection h2, #workSection h2, #skillsSection h2{
  margin-bottom: 2px;
  
}
#educationSection, #workSection, #skillsSection{
  width: 100%;
}
hr {
  border: none;
  height: 2px;
  margin-top: 0px;
  background-color: black;
  font-weight: bold;
}
.workDiv{
  display: flex;
  flex-direction: column;
}
.workDivSub{
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-width: 300px;
}
.workDivSub *{
  margin: 5px;
  min-width: 200px;
}
.workDivSub p{
  font-size: 1.1em;
}
.educationDiv p{
  font-size: 1.1em;
}
.stillCheckBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
